name: Flyway CI/CD

on:
  push:
    branches:
      - main

jobs:
  migrate:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_DB: demo_db
          POSTGRES_USER: user
          POSTGRES_PASSWORD: pass
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U user -d demo_db"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Flyway migrations
        uses: flyway/flyway-action@v2
        with:
          url: jdbc:postgresql://localhost:5432/demo_db
          user: user
          password: pass
          locations: filesystem:flyway/sql
